.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-family: "Times";
    line-height: 1.2
    }
.calibre4 {
    font-family: "Times"
    }
.calibre5 {
    display: block;
    font-family: "Liberation Mono", monospace;
    font-size: 0.75em;
    white-space: pre-wrap;
    margin: 1em 0 1em 5px
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre8 {
    display: table-column-group;
    text-align: left
    }
.calibre9 {
    display: table-column
    }
.calibre10 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre11 {
    display: table-row;
    vertical-align: inherit
    }
.calibre12 {
    display: block;
    font-family: "Liberation Mono", monospace;
    font-size: 0.77778em;
    white-space: pre-wrap;
    margin: 1em 0 1em 5px
    }
.calibre13 {
    display: block
    }
.calibre14 {
    display: block;
    margin: 1em
    }
.calibre15 {
    display: block
    }
.calibre16 {
    display: block;
    text-align: right;
    margin: 1em 0
    }
.calibre17 {
    font-family: "Liberation Mono", monospace
    }
.calibre18 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre19 {
    display: block;
    margin: 1em 0
    }
.calibre20 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.calibre21 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre22 {
    display: list-item
    }
.calibre23 {
    display: block;
    font-weight: bold;
    margin: 30px 0 0
    }
.calibre24 {
    font-weight: bold
    }
.calibre25 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre26 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre27 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    display: table-column-group
    }
.calibre29 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre30 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre31 {
    font-size: 0.75em
    }
.calibre32 {
    font-size: 0.71429em
    }
.center {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 0
    }
.center1 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.chapter {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 40px 0 0
    }
.doctablecell {
    display: table-cell;
    font-size: 0.75em;
    text-align: left;
    vertical-align: top;
    padding: 1px
    }
.doctablecell1 {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    vertical-align: inherit;
    padding: 1px
    }
.ind {
    display: block;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.noind {
    display: block;
    text-indent: 0;
    margin: 25px 0 1em
    }
.noindclose {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.notetitle {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin: 2px 0 0
    }
.part {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0 0
    }
.smaller {
    display: block;
    font-size: 0.75em;
    margin: 1em
    }
.toc {
    display: block;
    text-indent: 0;
    margin: 15px 1em 1em 15px
    }
