p{font-family:"Times New Roman",serif;font-size:109%}
.p0{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p2{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.25em;margin-bottom:.25em}
.p3{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.5em;margin-bottom:.5em}
.p4{text-indent:.025em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:1em;margin-bottom:.25em}
.p5{text-indent:.025em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:2.5em;margin-bottom:.33em}
.p7{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1em;margin-bottom:.5em}
.p8{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:2em;margin-bottom:2em}
.p9{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1.5em;margin-bottom:0}
.p10{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1em;margin-bottom:1em}
.p11{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.58em;margin-bottom:.58em}
.p12{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1.2em;margin-bottom:1.2em}
.p13{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1em;margin-bottom:.33em}
.p14{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.33em;margin-bottom:.33em}
.p15{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.17em;margin-bottom:.17em}
.p16{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.75em;margin-bottom:.75em}
.p17{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:.75em;margin-bottom:.75em}
.p18{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1.5em;margin-bottom:1.5em}
.p19{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:2.5em;margin-bottom:.25em}
.p20{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p21{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p22{text-indent:1.2em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p23{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:1em;margin-bottom:.25em}
.p24{text-indent:1.2em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p25{text-indent:1.2em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p26{text-indent:.025em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:1em;margin-bottom:1em}
.p27{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:1em;margin-bottom:1em}
.p28{text-indent:1.2em;margin-left:0;margin-right:0;text-align:right;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p29{text-indent:.025em;margin-left:0;margin-right:0;text-align:right;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p30{text-indent:1.2em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p31{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1em;margin-bottom:0}
.p32{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:.67em;margin-bottom:.67em}
.p33{text-indent:.025em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:.67em;margin-bottom:.67em}
.p34{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.67em;margin-bottom:.67em}
.p35{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p36{text-indent:.025em;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:.5em;margin-bottom:.5em}
.p37{text-indent:.025em;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:.5em;margin-bottom:.5em}
.p38{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:.5em;margin-bottom:.5em}
.p39{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:1em;margin-bottom:0}
.p40{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:1em;margin-bottom:.5em}
.p41{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:3em;margin-bottom:0}
.p42{text-indent:1.2em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.p43{text-indent:.025em;margin-left:0;margin-right:0;text-align:center;widows:2;orphans:2;margin-top:3.5em;margin-bottom:0}
h1{font-family:Arial,sans-serif;font-size:145%;font-weight:bold}
.h10{text-indent:.019em;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:2;orphans:2;margin-top:0;margin-bottom:0}
.h11{text-indent:.019em;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:2;orphans:2;margin-top:.75em;margin-bottom:.19em}
h2{font-family:Arial,sans-serif;font-size:127%;font-weight:bold}
.h20{text-indent:.021em;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:2;orphans:2;margin-top:.86em;margin-bottom:.86em}
.t2{font-size:.25em}
.t3{font-weight:bold;font-style:italic}
.t4{font-weight:bold}
.t5{font-size:.67em}
.t6{font-size:.83em;font-weight:bold}
.t7{font-size:1.1em;font-weight:bold}
.t8{font-style:italic}
.t9{font-size:.83em;font-style:italic}
.t10{font-size:1.1em;font-weight:bold;font-style:italic}
.t11{font-size:1.1em;font-weight:bold;color:navy}
.t12{font-size:.083em}
.t13{font-size:1.1em;font-style:italic}
.t14{font-size:.92em}
.t15{font-size:.83em}
.t16{font-size:.75em}
.t17{font-size:1.1em;text-decoration:underline}
.t18{font-size:1.1em}
.t19{text-decoration:underline}
.t20{font-style:italic;text-decoration:underline}
.t21{font-size:.65em;vertical-align:super}
.t22{font-size:.75em;font-style:italic}
.t23{font-size:.75em;font-weight:bold}
.t24{font-size:1.3em}
.t25{font-size:1.2em;font-weight:bold}
.t26{font-size:1.3em;font-weight:bold}
.t27{font-size:1.2em}
.t28{font-size:1.2em;font-weight:bold;font-style:italic}
.t29{font-weight:bold;text-decoration:underline}
.t30{font-size:.83em;text-decoration:underline}
.t31{font-size:.83em;font-style:italic;text-decoration:underline}
.t32{font-size:.79em;font-weight:bold}
.t33{font-size:.96em;font-weight:bold;text-decoration:underline}
.t34{font-size:.96em;font-weight:bold}
.th22{font-style:italic}
.th23{font-size:.71em}
.th24{font-weight:normal;font-style:italic}
.th25{font-size:.64em;font-style:italic}