body{
	font-family:"Times New Roman", 宋体, serif;
	margin: 80px;
	font-size: x-large;

/*	background-color: #333;
	color: #fff; */

	text-align: justify;
	word-wrap: break-word;
}
code{
	font-family:"Consolas", monospace;
	font-size: 92%;
}
ul li {
	margin-bottom: 10px;
}

ol li{
	margin-bottom: 10px;
}
acode {
	font-family: monospace,"Consolas";
}
