body {
	font-family:"Cambria", 宋体, serif;
  	color: #345;

    line-height: 133%;
    margin-left: 10em;

    font-size: 160%;
    width: 29em;
    max-width: 100%;
    hyphens: auto;

	word-wrap: break-word;
	text-align: justify;
}

p {
    margin-left: 3pt;
}

uppercase {
    text-transform: uppercase;
}

blockquote {
    line-height: 1.2;
    font-size: 93%;
    text-indent: 1em;
}

ul {
  margin-left: 20px;
}
ul li {
	margin-bottom: 8px;
}

ol li{
	margin-bottom: 8px;
}

code{
	font-family:"Consolas", monospace;
	font-size: 92%;
}

acode {
	font-family: monospace,"Consolas";
}

a {
  text-decoration: none;
}

a:hover{
  color: blue;
}