body {
	font-family:"Times New Roman", 宋体, serif;
	margin: 200px;
	text-align: justify;
	word-wrap: break-word;
    color: #345;
}
h1 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
code{
	font-family:"Consolas", monospace;
	font-size: 92%;
}
ul {
  margin-left: 20px;
}
ul li {
	margin-bottom: 10px;
}

ol li{
	margin-bottom: 10px;
}
acode {
	font-family: monospace,"Consolas";
}
a {
  text-decoration: none;
}
a:hover{
  color: blue;
}

nav {
  background-color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  margin: 0;
}
nav a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: white;
  color: #333;
}
