.bold {
    font-weight: bold;
    line-height: 1.2
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3px 0 0
    }
.calibre_1 {
    display: block;
    height: 3px
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 7px 0 0
    }
.calibre_3 {
    display: block;
    height: 5px
    }
.calibre_4 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 9px 0 0.83em
    }
.calibre_5 {
    display: block;
    height: 33px
    }
.calibre_6 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 7px 0 0.67em
    }
.calibre_7 {
    display: block;
    height: 16px
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 27px 0 0
    }
.calibre_9 {
    display: block;
    height: 27px
    }
.calibre_10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 88px 0 0
    }
.calibre_11 {
    display: block;
    height: 107px
    }
.calibre_12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 8px 0 0
    }
.calibre_13 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 64px 0 0
    }
.calibre_14 {
    display: block;
    height: 7px
    }
.calibre_15 {
    display: block;
    text-indent: 16px;
    margin: 0 0 0 2em
    }
.calibre_16 {
    display: block;
    text-indent: 16px;
    margin: 5px 0 0
    }
.calibre_17 {
    display: block;
    text-indent: 32px;
    margin: 0 0 0 2em
    }
.calibre_18 {
    display: block;
    text-indent: 32px;
    margin: 5px 0 0
    }
.calibre_19 {
    display: block;
    text-indent: 48px;
    margin: 0 0 0 2em
    }
.calibre_20 {
    display: block;
    text-indent: 48px;
    margin: 5px 0 0
    }
.calibre_21 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 12px 0 1em
    }
.calibre_22 {
    display: block;
    height: 11px
    }
.calibre_23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 16px 0 0
    }
.calibre_24 {
    display: block;
    height: 8px
    }
.calibre_25 {
    display: block;
    text-indent: -11px;
    margin: 5px 0 0 11px
    }
.calibre_26 {
    background-color: #E6E7E8;
    display: block;
    margin-top: 7px
    }
.calibre_27 {
    display: block;
    font-weight: bold;
    margin: 12px 0 1.33em
    }
.calibre_28 {
    display: block;
    text-indent: 0;
    margin: 11px 0 0
    }
.calibre_29 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin: 12px 0 1.67em
    }
.calibre_30 {
    display: block;
    margin-top: 8px
    }
.calibre_31 {
    display: block;
    text-indent: 0;
    margin: 16px 0 0
    }
.calibre_32 {
    display: block;
    text-indent: 0;
    margin: 5px 0 0
    }
.calibre_33 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_34 {
    display: block;
    text-indent: -16px;
    margin: 5px 0 0 16px
    }
.calibre_35 {
    display: block;
    text-indent: 0;
    margin: 3px 0 0
    }
.calibre_36 {
    display: block;
    text-indent: 20px;
    margin: 0 0 0 2em
    }
.calibre_37 {
    display: block;
    text-indent: 20px;
    margin: 3px 0 0
    }
.calibre_38 {
    display: block;
    text-indent: 33px;
    margin: 0 0 0 2em
    }
.calibre_39 {
    display: block;
    text-indent: 33px;
    margin: 3px 0 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre6 {
    font-family: monospace
    }
.calibre7 {
    font-size: 0.75em
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre11 {
    font-size: 1em
    }
.calibre12 {
    font-family: Courier New;
    font-size: 1em
    }
.calibre13 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    display: list-item
    }
.calibre15 {
    font-size: 0.66667em
    }
.calibre16 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre17 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    font-family: monospace;
    line-height: 1.2
    }
.calibre19 {
    font-family: Courier New Italic
    }
.calibre20 {
    font-family: Courier New Bold
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
