@media print {
  .watermark {
    display: block;
    z-index: 100;
  }
  .watermark.watermark_title {
    position: absolute;
    top: 0;
    left: 40px;
    width: 200px;
    font-size: 12px;
  }
  .watermark.watermark_copyright {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 200px;
    font-size: 12px;
  }
  .watermark.watermark_user {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 200px;
    color: #666;
    font-size: 12px;
    text-align: right;
  }
  .watermark.watermark_date {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 200px;
    color: #666;
    font-size: 10px;
    text-align: right;
  }
  .watermark.watermark_comment {
    position: absolute;
    opacity: 0.2;
    font-size: 4em;
    font-weight: 700;
    color: #0088FF;
    width: 100%;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}
