.tp {  
margin-top: 1em;
text-align:center;
}

/* ==================== RH Styles ===================== */
h1.otherbooks{
    text-align:center;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
    font-weight:normal;
}
div.otherbooks{
    margin-top:2em;
    font-size:small;
    margin-left:2em;
    margin-right:2em;
}
div.copyright{
    font-size:small;
    text-align:center;
    margin-top:2em;
}
div.dedication{
    font-size:small;
    margin-top:2em;
}
div.epigraph{
    font-size:medium;
    margin-left:12em;
    margin-right:4em;
    margin-bottom:2em;
    margin-top:2em;
}
h1.acknowledgments{
    font-size:medium;
    margin-top:2em;
    text-align:center;
    font-weight:bold;
}
div.acknowledgments{
    font-size:small;
    text-align:justify;
    margin-left:2em;
    margin-right:2em;
}
h1.authorsnote{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
div.authorsnote{
    font-size:small;
    text-align:justify;
}
h1.foreword{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.preface{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.introduction{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.prologue{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
div.part{
    text-align:justify;
}
h1.part{
    line-height:2em;
    margin-top:2em;
    margin-bottom:1em;
    font-size:large;
    text-align:center;
    font-weight:bold;
}
h1.chapter{
    font-size:1em;
    text-align:center;
    font-weight:bold;
    line-height:1.3em;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:100px;
    margin-right:100px;
}
@media amzn-kf8{
    h1.chapter{
        font-size:1em;
        text-align:center;
        font-weight:bold;
        line-height:1.3em;
        margin-top:2em;
        margin-bottom:2em;
        margin-left:2em;
        margin-right:2em;
    }
    h1.chapter img{
        width:60%;
    }
}
h1.chapter2{
    font-size:1em;
    text-align:center;
    font-weight:bold;
    line-height:1.3em;
    margin-top:2em;
    margin-bottom:3.5em;
}
h1.subchapter{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
div.chapter{
    margin-top:2em;
    margin-left:0.5em;
    margin-right:0.5em;
}
h1.epilogue{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.afterward{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.glossary{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
span.glosaryterm{
    font-size:small;
    text-align:left;
    margin-right:1em;
}
span.glosarydef{
    font-size:small;
    text-align:left;
    margin-right:1em;
}
h1.appendix{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.notes{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
div.note{
    font-size:x-small;
    text-align:justify;
    margin-left:1em;
}
h1.source{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h1.bibliography{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
div.bibliography{
    font-size:x-small;
    text-align:justify;
    margin-left:2em;
    font-weight:bold;
}
h1.abouttheauthor{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
p.attribution{
    text-align:right;
}
div.list{
    font-size:small;
    margin-left:1em;
}
h1.box{
    font-size:medium;
    font-style:italic;
    text-align:center;
}
/* ===================== Added Styles ===================== */
p.indent{
    text-indent:1.00em;
    margin-top:0.0em;
    margin-bottom:0.0em;
    text-align:justify;
}
p.right{
    text-align:right;
}
p.center{
    margin-top:1em;
    text-align:center;
    margin-bottom:1em;
    margin-left:1px;
}
div.center_narrow{
    margin-top:1em;
    text-align:center;
    margin-bottom:1em;
    margin-left:3em;
    margin-right:3em;
}
p.center3{
    margin-top:1em;
    text-align:center;
    margin-bottom:3em;
    margin-left:1px;
}
p.center2{
    margin-top:.2em;
    text-align:center;
    margin-bottom:.2em;
    margin-left:1px;
}
a.hlink{
    text-decoration:none;
}
@media amzn-kf8{
    a.hlink{
       text-decoration:underline;
   }
}
p.figure{
    margin-top:0em;
    text-align:center;
    margin-bottom:2em;
    font-size:small;
}
h1.contents{
    font-size:medium;
    text-align:center;
    font-style:italic;
    font-weight:bold;
}
h2.title{
    font-size:medium;
    text-align:center;
}
p{
    margin-top:.3em;
    margin-bottom:.3em;
}
div.cover{
    text-align:center;
}
div.titlepage{
    text-align:center;
}
div.titlepage1{
    text-align:center;
    margin: 0em;
    padding: 0em;
}
a.pubhlink{
    text-decoration:none;
    color:green;
}
p.extract{
    text-indent:0;
    text-align:justify;
    margin-top:1.2em;
    margin-bottom:0;
}
p.extract1{
    text-indent:1.00em;
    text-align:justify;
    margin-top:1.2em;
    margin-bottom:0;
}
p.extract2{
    text-indent:2.00em;
    text-align:justify;
    margin-top:0em;
    margin-bottom:0;
}
div.textbox{
    page-break-before:always;
    margin-top:1em;
    margin-bottom:1em;
    line-height:1.3em;
    text-align:left;
    padding-left:1em;
    padding-right:1em;
    padding-top:.5em;
    padding-bottom:.5em;
}
div.textbox div.block{
    margin-left:2em;
    margin-right:2em;
    margin-top:4em;
}
p.box{
    border-bottom:1px double;
    border-left:1px double;
    border-top:1px double;
    border-right:1px double;
    text-align:justify;
}
div.abstract{
    font-size:small;
    text-align:justify;
    margin-left:2em;
    margin-right:2em;
}
div.appendix{
    font-size:small;
    text-align:justify;
}
p.reference{
    text-align:justify;
    text-indent:-1.00em;
    margin-left:1em;
}
div.biboliography{
    font-size:medium;
    text-align:justify;
}
div.preface{
    font-size:small;
    text-align:justify;
    margin-left:2em;
    margin-right:2em;
}
div.colophon{
    font-size:small;
    text-align:justify;
    margin-top:2em;
    margin-left:2em;
    margin-right:2em;
}
p.cop{
    margin-bottom:1em;
}
p.nonindent{
    margin-top:0.0em;
    margin-bottom:0.0em;
    text-align:justify;
    text-indent:0;
}
p.nonindent1{
    margin-left:3em;
    margin-top:0.0em;
    margin-bottom:0.0em;
    text-align:justify;
    text-indent:0;
}
span.small{
    font-size:smaller;
}
span.small1{
    font-size:small;
}
span.medium{
    font-size:medium;
}
div.toc{
    margin-top:1em;
    margin-bottom:0em;
    text-indent:0;
}
p.stanga{
    text-align:justify;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:2em;
}
body{
    font-size:medium;
    line-height:1.2em;
    margin-top:1em;
    margin-left:1em;
    margin-right:2em;
    font-family:"Charis";
}
@font-face{
    font-family:"Charis";
    font-style:normal;
    font-weight:normal;
    src:url(fonts/CharisSILR.ttf);
}
@font-face{
    font-family:"Charis";
    font-style:normal;
    font-weight:bold;
    src:url(fonts/CharisSILB.ttf);
}
@font-face{
    font-family:"Charis";
    font-style:italic;
    font-weight:normal;
    src:url(fonts/CharisSILI.ttf);
}
@font-face{
    font-family:"Charis";
    font-style:italic;
    font-weight:bold;
    src:url(fonts/CharisSILBI.ttf);
}
h3.title{
    font-size:medium;
    text-align:center;
    margin-bottom:3em;
}
span.dropcaps{
    font-size:xx-large;
}
span.dropcaps3lines{
    float:left;
    font-size:100px;
    line-height:80px;
    padding-top:1px;
    margin-top:-.09em;
    margin-right:.02em;
}
sup.small{
    font-size:small;
    line-height:0.0em;
}
div.footnote{
    font-size:small;
    margin-top:2em;
    page-break-before:always;
}
p.footnote{
    text-align:justify;
    margin-left:0em;
    margin-bottom:0.5em;
    text-indent:0em;
}
p.question{
    text-align:justify;
    margin-top:1em;
}
div.small-page{
    margin-top:2em;
    font-size:medium;
    margin-left:12em;
    margin-right:6em;
}
h1.toc{
    font-size:large;
    text-align:center;
    font-weight:bold;
    line-height:1.3em;
    margin-top:2em;
    margin-bottom:3em;
}
ol.upperalpha{
    text-align:justify;
    list-style-type:upper-alpha;
}
ol.upperroman{
    text-align:justify;
    list-style-type:upper-roman;
}
ol.lowerroman{
    text-align:justify;
    list-style-type:lower-roman;
}
ol.loweralpha{
    text-align:justify;
    list-style-type:lower-alpha;
}
ol.arabic{
    text-align:justify;
}
h1.section{
    text-align:left;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
}
h2.section{
    text-align:center;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
}
h3.section{
    text-align:left;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
}
h4.section{
    text-align:left;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
}
h5.section{
    text-align:left;
    font-size:medium;
    margin-bottom:1em;
    margin-top:2em;
}
span.underline{
    text-decoration:underline;
}
span.big{
    font-size:large;
    font-weight:bold;
}
span.big1{
    font-size:x-large;
}
span.big2{
    font-size:1.1em;
}
p.crt{
    text-indent:0;
    margin-top:1em;
    text-align:center;
    margin-bottom:0em;
}
p.crt1{
    text-indent:0;
    margin-top:0em;
    text-align:center;
    margin-bottom:0em;
}
span.overline{
    text-decoration:overline;
}
p.textbox{
    text-align:justify;
    text-indent:0;
}
p.textbox1{
    text-indent:1.00em;
    text-align:justify;
}
span.strike{
    text-decoration:line-through;
}
sup{
    vertical-align:4px;
}
sub.frac{
    font-size:0.7em;
}
sup.frac{
    font-size:0.7em;
}
img{
    max-height:100%;
    max-width:100%;
}
img.inline{
    vertical-align:middle;
}
/* =============== New Style added =============== */
/* == For TOC == */
div.toc_fm{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:0em;
    font-size:.9em;
    line-height:1.4em;
}
div.toc_bm{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:0em;
    font-size:.9em;
    line-height:1.4em;
}
div.toc_chap{
    text-align:center;
    margin-top:.5em;
    font-size:1em;
    line-height:1.2em;
}
div.toc_sub{
    margin-left:2em;
    font-size:smaller;
    line-height:1.4em;
}
div.toc_part{
    margin-left:0em;
    line-height:1.5em;
    font-size:1.2em;
    margin-top:1em;
}
/* == For Block Quotes == */
div.block{
    margin-left:0em;
    margin-right:0em;
    text-align:justify;
    margin-top:1em;
    margin-bottom:1em;
}
p.bl_nonindent{
    margin-left:1em;
    margin-right:1em;
    text-align:justify;
    margin-top:0em;
    margin-bottom:0em;
    text-indent:0;
}
p.bl_indent{
    text-indent:1em;
    margin-left:1em;
    margin-right:1em;
    text-align:justify;
    margin-top:0em;
    margin-bottom:0em;
}
p.bl_hanging{
    text-indent:-1em;
    text-align:justify;
}
p.bl_extract{
    text-indent:0em;
    text-align:justify;
    margin-top:1em;
    margin-left:2.5em;
    margin-right:2.5em;
    margin-bottom:0em;
}
p.bl_center{
    margin-top:1em;
    text-align:center;
    margin-bottom:1em;
}
p.bl_right{
    text-align:right;
    margin-right:2.5em;
    margin-top:0em;
    margin-bottom:0em;
}
/* For Hanging Paragraphs */
div.hanging{
    margin-left:1.0em;
}
p.hanging{
    text-indent:-1em;
}
div.hanging1{
    margin-left:3.0em;
}
p.hanging1{
    text-indent:-3em;
}
/* For Dialogue Text */
div.dialogue{
    margin-left:4.2em;
    margin-bottom:2em;
    margin-top:1.5em;
    font-size:small;
}
p.d_hanging{
    text-indent:-4.2em;
    font-size:small;
    margin-top:0.5em;
}
/* For bullet list */
ul.bullet{
    list-style-type:disc;
    margin-top:1em;
    margin-bottom:1em;
}
div.bullet{
    margin-left:.8em;
    margin-top:0;
    margin-bottom:0;
    text-align:justify;
}
/* For Fractions */
span.frac_num{
    font-size:x-small;
    vertical-align:text-top;
}
span.frac_den{
    font-size:x-small;
    vertical-align:text-bottom;
}
p.float_l{
    width:50%;
    float:left;
    text-align:center;
    padding-right:20px;
}
span.img_caption{
    font-size:x-small;
    margin-bottom:1em;
    margin-top:-10px;
    line-height:1.2em;
}
p.float_r{
    float:right;
    text-align:center;
    padding-left:20px;
}
div.poetry_quote{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1.0em;
}
p.poetry_quote{
    text-indent:-5em;
    padding-left:5em;
    margin-top:0.0em;
    margin-bottom:0em;
    text-align:left;
    font-size:small;
}
div.dis_img{
    margin-top:1em;
    text-align:center;
    margin-bottom:1em;
    margin-left:1px;
}
div.wrap{
    margin-top:1em;
    margin-bottom:1em;
    page-break-inside:avoid;
}
p.image{
    text-align:center;
}
p.caption{
    font-size:x-small;
    text-align:center;
    margin-bottom:1em;
}
div.caption1{
    font-size:x-small;
    margin-left:1.5em;
}
p.caption2{
    text-indent:-1.5em;
}
sup {
	vertical-align: 4px;
}
sup.frac, sub.frac {
	font-size: 0.7em;
}


p.crt4
{
    text-indent:0;
    margin-top:1em;
    text-align:left;
    margin-bottom:0em;
text-indent: 0em;
}


