.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 5em 0 0
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 1em 0 0
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_3 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_5 {
    display: block;
    height: 1em
    }
.calibre_6 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 0.67em
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 0
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 1.5em;
    margin: 4em 0 0
    }
.calibre_9 {
    display: block;
    height: 3em
    }
.calibre_10 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 0.83em
    }
.calibre_11 {
    display: block;
    height: 2em
    }
.calibre_12 {
    display: block;
    text-indent: 1em;
    margin: 0
    }
.calibre_13 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 1em
    }
.calibre_14 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_15 {
    display: block;
    text-indent: 1.5em;
    margin: 1em 0 0
    }
.calibre_16 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_17 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_18 {
    display: block;
    text-indent: 1em;
    margin: 2em 0 0
    }
.calibre_19 {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 2em 0 1.33em
    }
.calibre_20 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    margin: 2em 0 1.67em
    }
.calibre_21 {
    color: #00F
    }
.calibre_22 {
    display: block;
    text-indent: -1em;
    margin: 1em 0 0 1em
    }
.calibre_23 {
    display: block;
    text-indent: -1em;
    margin: 0 0 0 1em
    }
.calibre_24 {
    display: block;
    text-indent: -2em;
    margin: 0 0 0 2em
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-size: 1em
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block;
    text-indent: 1.5em;
    margin: 0
    }
.calibre7 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre8 {
    font-size: 0.91667em;
    line-height: 1.2
    }
.calibre9 {
    line-height: 1.2
    }
.calibre10 {
    font-size: 1.17647em;
    line-height: 1.2
    }
.calibre11 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre12 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre13 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre14 {
    font-size: 1.48148em;
    line-height: 1.2
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre16 {
    display: block
    }
.calibre17 {
    font-size: 0.6em
    }
.calibre18 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre19 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre20 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre21 {
    font-size: 0.75em
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
